body {
    background-color: black;
}

.container 
    {
    background: url('image/backgorund.png') no-repeat;
    width: 400px;
    right: 200px;
    box-sizing: border-box;
    background-size: cover;
    padding: 1px 20px;
    margin: auto;
    margin-top: 10%;
    font-family: 'Amatic', cursive;
    
    }
    a 
    {
      text-decoration: none;
      color: black;
    }

    .instagram 
    {
     list-style-image: url('image/Insta.png');
    }
    .twitter
    {
      list-style-image: url('image/Twitter.png');
      
     }
     .youtube 
      {
        list-style-image: url('image/Youtube.png');
        
       }
    